<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <title>{% block title %}Piiano Vault Django Demo App{% endblock %}</title>
</head>

<body>
    <div id="content" style="margin-inline: 3%; display: flex; flex-direction: column; align-items: start;">
        {% block content %}{% endblock %}
    </div>
</body>

</html>