{% extends 'base.html' %}

{% block content %}

<h1>Existing Customers List</h1>
<table class="pure-table" style="min-width: 70%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>SSN</th>
            <th>DoB</th>
        </tr>
    </thead>
    {% for customer in customers %}
    <tr>
        <td>{{ customer.name }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.phone }}</td>
        <td>{{ customer.address }}</td>
        <td>{{ customer.ssn }}</td>
        <td>{{ customer.dob }}</td>
    </tr>
    {% endfor %}
</table>

<hr style="margin-top: 40px; min-width: 70%; margin-inline: 0;"/>

<h2>New Customer Form:</h2>
<form action="add_customer" class="pure-form pure-form-aligned" method="post">
    {% csrf_token %}
    <table>
        {{ add_customer_form.as_table }}

    </table>
    </br>
    <input type="submit" class="pure-button pure-button-primary" value="Add Customer">
</form>

{% endblock %}